.author-box
    img(src="img/shingeki.jpg", alt="")
    .author-desc
        h3 Escrito por Giancarlo Sesarego
        p Soy estudiante de periodismo y tengo mi propio blog. Visita monogatari.blogspot.com