//News.pug
.news-box
    .news-box-content
        a(href="/").news-box-content-item.main-new
            img(src="img/tokyoghoul.jpg", alt="Tokyo Ghoul")
            .item-content
                span Video
                h2 ¡Nuevo video promocional de la segunda mitad de Tokyo Ghoul:re!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam nobis harum, provident quod corporis libero ratione eaque modi eligendi ipsam culpa, repellat... 
        a(href="/").news-box-content-item.second-new
            .item-image
                img(src="img/shingeki.jpg", alt="Shingeki")
                div
                    span Anime
            .item-content
                h4 La tercera temporada de Shingeki no Kyojin tendrá 25 capítulos
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam nobis harum, provident quod corporis libero ratione eaque modi eligendi ipsam culpa, repellat... 
        a(href="/").news-box-content-item.second-new
            .item-image
                img(src="img/shingeki.jpg", alt="Shingeki")
                div
                    span Anime
            .item-content
                h4 La tercera temporada de Shingeki no Kyojin tendrá 25 capítulos
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam nobis harum, provident quod corporis libero ratione eaque modi eligendi ipsam culpa, repellat...
        a(href="/").news-box-content-item.second-new
            .item-image
                img(src="img/shingeki.jpg", alt="Shingeki")
                div
                    span Anime
            .item-content
                h4 La tercera temporada de Shingeki no Kyojin tendrá 25 capítulos
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam nobis harum, provident quod corporis libero ratione eaque modi eligendi ipsam culpa, repellat...
        a(href="/").news-box-content-item.second-new
            .item-image
                img(src="img/shingeki.jpg", alt="Shingeki")
                div
                    span Live-action
            .item-content
                h4 La tercera temporada de Shingeki no Kyojin tendrá 25 capítulos
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam nobis harum, provident quod corporis libero ratione eaque modi eligendi ipsam culpa, repellat...



