.footer-box
    .footer-box-content
        .menu        
            ul
                li
                    a(href="/").main-link Inicio
                li
                    a(href="/") Únete al equipo
                li
                    a(href="/") Donaciones
                li
                    a(href="/") Contacto
            img(src="img/logo.png", alt="")
                    
        .bottom
            span.copyright AnimeSama.net © 2018 - Todos los derechos reservados.
            .social-menu
                a(href="/")
                    img(src="img/facebook.png", alt="")
                a(href="/")
                    img(src="img/twitter.png", alt="")
                a(href="/")
                    img(src="img/instagram.png", alt="")
