header
    .header-box
        .header-box-logo
            img(src="img/logo.png", alt="Anime Sama")
        .header-box-nav
            .header-box-nav-menu
                ul
                    a(href="")
                        li Noticias
                    a(href="")
                        li Reseñas
                    a(href="")
                        li Rankings
                    a(href="")
                        li Blog
            .header-box-nav-login
                a(href="/")
                    img(src="img/login-icon.png", alt="Log in")
