.menu-mobile#mobile-menu-box
    .menu-mobile-box
        .mobile-login
            span.far.fa-address-card
            a(href="/") Inicia Sesión
            p o
            a(href="/") Regístrate 
        .mobile-search
            .search-box
                input(type="text", placeholder="Buscar")
                button(type="submit").fas.fa-search
        .mobile-menu
            span Menu
            ul
                a(href="/")
                    li Noticias
                a(href="/")
                    li Reseñas
                a(href="/")
                    li Rankings
                a(href="/")
                    li Blog
                a(href="/")
                    li Proyectos
                a(href="/")
                    li Equipo
                a(href="/")
                    li Contacto
    
    