.news-box
    .news-box-content
        a(href="/").news-box-content-item.main-new
            img(src="img/tokyoghoul.jpg", alt="Tokyo Ghoul")
            .item-content
                span Video
                h2 ¡Nuevo video promocional de la segunda mitad de Tokyo Ghoul:re!
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus architecto ex sed voluptatum ea aspernatur illum, accusamus labore suscipit blanditiis sint quisquam aliquid? Inventore magnam dolore ullam id, hic distinctio.
        a(href="/").news-box-content-item.second-new
            img(src="img/shingeki.jpg", alt="Tokyo Ghoul")
            .item-content
                span Video
                h2 ¡Nuevo video promocional de la segunda mitad de Tokyo Ghoul:re!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam nobis harum...
        a(href="/").news-box-content-item.third-new
            img(src="img/realgirl.jpg", alt="Tokyo Ghoul")
            .item-content
                span Video
                h2 ¡Nuevo video promocional de la segunda mitad de Tokyo Ghoul:re!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam nobis harum...
        a(href="/").news-box-content-item.fourth-new
            img(src="img/novels.jpg", alt="Tokyo Ghoul")
            .item-content
                span Video
                h2 ¡Nuevo video promocional de la segunda mitad de Tokyo Ghoul:re!
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas laborum modi cupiditate voluptates consectetur quae omnis non numquam, itaque illum?