.post-content
    .post-content-header
        img(src="img/shingeki.jpg", alt="")
        .post-title
            h2 ¡Nuevo video promocional de la segunda mitad de Tokyo Ghoul:re!
    .post-content-body
        .post-text
            - for (var i = 0; i < 5; ++i) {
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque voluptates obcaecati soluta eligendi mollitia? Delectus, accusantium recusandae deleniti ad consectetur, sit autem voluptate officiis natus voluptatibus eius placeat doloremque magnam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic dolor id maiores nemo porro iste, quas fugit. Saepe aperiam et qui, ad, obcaecati aliquid optio impedit, vero incidunt aliquam perspiciatis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, ipsum totam explicabo provident porro labore tenetur maiores id doloribus, tempora, tempore mollitia ipsam necessitatibus quo at dolorem deserunt fugiat quae.
                br
                img(src="img/realgirl.jpg", alt="")
                br
            - }