.rankings-box
    .rankings-box-header.header-section
        h3 Rankings
        a(href="/")
            span Ver todo
    .rankings-box-grid
        a(href="/")
            .ranking-item
                img(src="img/shingeki.jpg", alt="Ranking")
                .content
                    h2 Los Mejores Animes
                    span Primavera 2018
        a(href="/")
            .ranking-item
                img(src="img/novels.jpg", alt="Ranking")
                .content
                    h2 Batalla de Husbandos/Waifus
                    span Primavera 2018
        a(href="/")
            .ranking-item
                img(src="img/realgirl.jpg", alt="Ranking")
                .content
                    h2 Ranking de Popularidad
                    span Primavera 2018
        a(href="/")    
            .ranking-item
                img(src="img/tokyoghoul.jpg", alt="Ranking")
                .content
                    h2 Las Canciones más Chidoris
                    span Primavera 2018     