.reviews-box
    .reviews-box-header.header-section
        h3 Reseñas
        a(href="/")
            span Ver todo
    .reviews-box-grid
        a(href="/").review-1
            .reviews-box-grid-item
                img(src="img/review1.jpg", alt="Review").mainimg
                .review-item-content
                    h4 Kuzu no Honkai
                    div
                        img(src="img/star-icon.png", alt="")
                        span 4.6
        a(href="/").review-2
            .reviews-box-grid-item
                img(src="img/review2.png", alt="Review")
                .review-item-content
                    h4 Wotaku ni Koi wa Muzukashii
                    div
                        img(src="img/star-icon.png", alt="")
                        span 4.7
        a(href="/").review-3
            .reviews-box-grid-item
                img(src="img/review3.jpg", alt="Review")
                .review-item-content
                    h4 Koi wa Ameagari no You ni
                    div
                        img(src="img/star-icon.png", alt="")
                        span 4.8
        a(href="/").review-4
            .reviews-box-grid-item
                img(src="img/review4.jpg", alt="Review")
                .review-item-content
                    h4 Gintama
                    div
                        img(src="img/star-icon.png", alt="")
                        span 4.2
        a(href="/").review-5
            .reviews-box-grid-item
                img(src="img/review5.jpg", alt="Review")
                .review-item-content
                    h4 Fate/stay night – Heaven's Feel
                    div
                        img(src="img/star-icon.png", alt="")
                        span 4.1
        a(href="/").review-6
            .reviews-box-grid-item
                img(src="img/review6.jpg", alt="Review")
                .review-item-content
                    h4 Psycho-Pass
                    div
                        img(src="img/star-icon.png", alt="")
                        span 4.6