.similar-posts-box
    h3 También te puede interesar
    .similar-posts-box-items
        - for (var i = 0; i < 3; ++i) {
            .similar-post-item
                img(src="img/shingeki.jpg", alt="")
                h4 Nuevo video promocional de un anime poco conocido
        - }
    